/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}



/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}



/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}



/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}
/* Whitney fontface
   ========================================================================== */



   

   

/* Customer CSS starts here
   ========================================================================== */
    body{
        
        color:#000;
        font-size: 10pt;
        line-height: 1.15; /* 1 */
        /* font-family: Helvetica; */
        font-family: 'Source Sans Pro', sans-serif;
         text-align: center;
         
    }
   
    
    table{
        width: 100%;
        border: 0;
    }
    th,td{
      padding-top:3px;
      padding-bottom:3px;
    }
    
    .items thead th,
    .items tfoot td{
       padding-top:8px;
      padding-bottom:8px;
    }

    th{
        
        text-align: left;
    }
    td{
        vertical-align: top;
    }

    .summary,
    .items{
      margin-bottom:60px;
    }
    
    .items thead th{
     border-bottom:1px solid #000;
      padding-right:15px;
      box-sizing: border-box;
     
    }
    .items tfoot td{
     border-top:1px solid #000;
     font-weight: bold;; 
     
    }
    
    .items tbody td{
      border-bottom:1px solid #e6e6e6;
      padding-right:15px;
      box-sizing: border-box;
      padding-top:5px;
      padding-bottom:5px;
    }
    .items thead th:last-child,
    .items tbody td:last-child{
    
     padding-right:0px;
    
    }

    .items .item td{
      padding-top:10px;
      padding-bottom:10px;
    }

    .separator td{
      border-bottom:1px solid #e6e6e6;
       padding-top:5px;
      padding-bottom:5px;
    }
    .separator tr:last-child td:{
      border:none;
    }
    
    .text-align-right{
        text-align: right;;
    }
    .v-align-bottom{
        vertical-align: bottom;
    }
    .summaryLeftCol{
        
        width:235pt;
        padding-top:0;
        padding-bottom:0;
    }
    .summaryLeftCol > div{
      
        padding-right:20px;
    }
    .summaryRightCol{
        width:200pt;
        padding-top:0;
        padding-bottom:0;
    }
    .summaryRightCol > table{
        float:right;
        width: 200px;;
    }
    .summaryLeftCol.paddingBot20,
    .summaryRightCol.paddingBot20{
      padding-bottom: 20px;
    }
    .paymentLeftCol{
        /* width:220px; */
        width:165pt;
        padding-top:0;
        padding-bottom:0;
    }
   
    .paymentLeftCol > div{
        /* padding-right:25px; */
        padding-right:19pt;
    }
    .paymentRightCol{
        /* width:190px; */
         width:143pt;
        padding-top:0;
        padding-bottom:0;
    }
   .wrapper{
       width:435pt;
       height:632pt;
       margin:80pt auto;
       box-sizing: border-box;
       text-align: left;;
       background:#fff;
   }

   .invoiceType{
       font-size: 24pt;
       line-height: 1.15; /* 1 */
   }
   .addressSmall{
     margin-top:3px;
     line-height: 1.4;
   }
   .addressStandard{
     margin-top:3px;
     line-height: 1.5;
   }
   .addressSmall span,
   .addressStandard span{
     white-space: nowrap;
     display: inline-block;
     overflow:hidden;
     max-width: 200pt;
     text-overflow: ellipsis;
   } 
  
   .small{
       font-size:9pt;
       line-height: 1.4; /* 1 */
   }
   .large{
       font-size:11pt;
       line-height: 1.4; /* 1 */
   }
   .tiny{
       font-size:8pt;
       line-height: 1.4; /* 1 */
   }
   .tiniest{
      font-size:7pt;
      line-height: 1.15; /* 1 */
   }
   .grey{
       color:#bbbbbb;
       color:#aaaaaa;
   }
   
   .signature{
     margin:15px 0;
     display: block;;
   }
   .paymentTerms{
     margin-bottom:30px;
   }
   .paymentTerms td{
     padding-top:5px;
     padding-bottom:5px
   }
   .paymentTerms .noPadding{
      padding:0;
    }
   .terms{
     margin:0;
     padding-left:12px;
   }
   .terms li{
     padding-top:5px;
     padding-bottom:0px;
   }
   .instruction{
     border-top:1px solid #000;
     margin-top:7px;
     margin-right:6px;
     padding-top:5px;
   }

